.card.bg-base-100.shadow-xl.w-full.my-3(class="md:w-2/5 md:mx-4 lg:w-1/4 lg:mx-8")
  .card-body
    h2.card-title Dirección
    p Disneylandia #352, Colonia Las Palmas, Ecatepec, Estado de México, México. CP 32123
    .mt-4.card-actions.justify-end
        button.btn.btn Eliminar
        button.btn.btn-accent Editar
