.card.bg-base-100.shadow-xl.w-full(class="md:w-2/5  lg:w-1/4")
  figure
    img.w-full.object-cover(src='https://api.lorem.space/image/shoes?w=400&h=225' alt='Shoes')
  .card-body
    h2.card-title Shoes!
    p.font-light Precio: $50 MXN
    .card_actions.justify-start
      .badge.badge-outline Juguetería
      .badge.badge-outline Regalos
    .card-actions.justify-end
      button.btn.btn-primary Buy Now
