.card.bg-base-100.shadow-xl.w-full.my-3(class="md:w-2/5 md:mx-4 lg:w-1/4 lg:mx-8")
  figure
    img(src='https://api.lorem.space/image/shoes?w=400&h=225' alt='Shoes')
  .card-body
    h2.card-title Shoes!
    p If a dog chews shoes whose shoes does he choose?
    .card-actions.justify-end
      button.btn.btn-primary Buy Now
