#cookies.card.w-96.bg-neutral.text-neutral-content.fixed(class="bottom-1 md:left-1")
  .card-body.items-center.text-center
    h2.card-title Cookies!
    p We are using cookies for no reason.
    .card-actions.justify-end
      button#cookies-no.btn.btn-primary Accept
      button#cookies-yes.btn.btn-ghost Deny
