#cookies.card.bg-neutral.text-neutral-content.fixed(class="w-full md:w-96 bottom-0 md:bottom-1 md:left-1")
  .card-body.items-center.text-center
    h2.card-title Cookies!
    p We are using cookies for no reason.
    .card-actions.justify-end
      button#cookies-accept.btn.btn-primary Accept
