doctype html
html(lang="es" data-theme="luxury")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
        block title
            title 505 - Error En Servidor
    body
        .hero.h-screen.bg-cover(style="background-image: url(./assets/img/500_magi.gif)")
            .hero-overlay.bg-opacity-60
            .hero-content.text-center.text-neutral-content
                .max-w-md
                    h1.text-9xl.font-bold.font-serif.mb-5 500
                    p.text-xl.font-serif.mb-5(class="md:text-2xl") Todos cometemos errores... ¿Si?
                    a.btn.btn-lg.btn-primary(href="#") ¡Vamos a comprar!