extends ../templates/master.pug
include ../components/generic_hero.pug
block title
    title Bienvenido
    
block content
    +generic_hero('Password reset sent', './assets/img/password_reset.webp')
    .w-full.flex.justify-center.items-center.py-6
        form.w-full.card.bg-base-100.shadow-xl(class="md:w-1/2 lg:w-2/5")
            .card-body
                h2.card-text We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. 
                h2.card-text If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.