extends ../templates/master.pug
include ../components/generic_hero.pug
block title
    title Bienvenido
    
block content
    +generic_hero('Password change successful', './assets/img/password_reset.webp')
    .w-full.flex.justify-center.items-center.py-6
        form.w-full.card.bg-base-100.shadow-xl(class="md:w-1/2 lg:w-2/5")
            .card-body
                h2.card-text Your password was changed.
                .card-actions.justify-end.mt-2
                    button.btn.btn-primary Go to account