extends ../templates/master.pug
include ../components/generic_hero.pug
block title
    title Bienvenido
    
block content
    +generic_hero('Recuperar Contraseña', './assets/img/password_reset.webp')
    .w-full.flex.justify-center.items-center.py-6
        form.w-full.card.bg-base-100.shadow-xl(class="md:w-1/2 lg:w-2/5")
            .card-body
                h2.card-text Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                .py-4
                    .alert.alert-error.shadow-lg.my-2
                        div
                            i.fa-solid.fa-circle-xmark
                            span Error! Task failed successfully.

                    .form-control
                        label.label
                            span.label-text Tu Email
                            span.font-bold.text-error.text-xs This field its required
                        label.input-group
                            span Email
                            input.input.input-bordered.w-full(type='email')
                        
                .card-actions.justify-end
                    button.btn.btn-primary Reset